# List of the entire Sastrane soundtrack
# Authors and URLs are noted beside each entry

# Symphony No. 5 in C minor by Ludwig van Beethoven, Op. 67 - III. Allegro, performed by the Skidmore College Orchestra
# https://musopen.org/music/113/ludwig-van-beethoven/symphony-no-5-in-cm-op-67/
# Download at https://musopen.org/music/download/163/
beethoven-symphony-5-iii.mp3

# Cello Sonata in E minor, RV 40 - IV. Allegro by Antonio Vivaldi, performed by the Telemann Trio
# https://musopen.org/music/839/antonio-vivaldi/cello-sonata-in-em-rv-40/
# Download at https://musopen.org/music/download/1300/
vivaldi-cello-sonata-5-iv.mp3

# Symphony No. 40 in G minor, K. 550 - I. Molto Allegro by Wolfgang Amadeus Mozart, performed by the Musopen Symphony
# https://musopen.org/music/1577/wolfgang-amadeus-mozart/symphony-no40-in-g-minor-k550/
# Download at https://musopen.org/music/download/6358/
mozart-symphony-40-i.mp3

# Nocturne in D flat major, Op. 27 No. 2 by Frédéric Chopin, performed by Frank Levy
# https://musopen.org/music/302/frederic-chopin/nocturnes-op-27/
# Download at https://musopen.org/music/download/9547/
chopin-nocturne-2.mp3

# Orchestral Suite No. 2 in B minor, BWV 1067 - VI. Bourree by Johann Sebastian Bach, performed by the European Archive
# https://musopen.org/music/1005/johann-sebastian-bach/orchestral-suite-no2-in-b-minor-bwv-1067/
# Download at https://musopen.org/music/download/1847/
bach-orchestral-suite-2-vi.mp3

# Humoresque No. 7 in G flat major, Op. 101/7 (Violin and Piano arr.) by Antonín Dvořák, performed by Oliver Colbentson
# https://musopen.org/music/2072/antonin-dvorak/humoresque-no-7-in-gb-op-1017-violin-and-piano-arr/
# Download at https://musopen.org/music/download/6976/
dvorak-humoresque-7.mp3

# Gymnopédie No. 1 by Erik Satie, performed by Accou <https://musopen.org/music/performer/accou>
# https://musopen.org/music/2034/erik-satie/gymnopedie-no-1-guitar-arr/
# Download at https://musopen.org/music/download/6878/
satie-gymnopedie-1.mp3

# Cello Sonata in G minor, Op. 65 - III. Largo, performed by Yeonjin Kim and Christopher Harding
# https://musopen.org/music/2633/frederic-chopin/cello-sonata-in-g-minor-op-65/
# Download at https://musopen.org/music/download/8007/
chopin-cello-sonata-65-iii.mp3