#board {
    -sastrane-grid-type: point;
}

.square {
    -fx-border-color: black transparent transparent black;
    -fx-background-color: orange;
}

/* river */

.square.y4 {
    -fx-border-color: black transparent transparent transparent;
}

.square.x0.y4, .square.maxx.y4 {
    -fx-border-color: black transparent transparent black;
}

/* TODO palaces */