.root {
    -fx-background-color: #A88C27;
    button-background: #927921;
}

* {
    -fx-text-fill: black;
}

#app-logo {
    -fx-font-weight: 800;
    -fx-text-fill: linear-gradient(#E7BC3C, #BD8522);
    -fx-effect: dropshadow(gaussian, dimgrey, 10, 0.5, 2, 2);
    -fx-font-size: 60;
    -fx-font-style: italic;
}

#game-tiles, #player-settings {
    -fx-padding: 40;
    -fx-alignment: center;
}

.game-tile {
    -fx-padding: 5;
    -fx-alignment: center;
}

.game-tile:hover, .button:hover {
    -fx-cursor: hand;
}

.game-tile Label {
    -fx-font-size: 1.4em;
    -fx-label-padding: 3 0 0 0;
}

.button {
    -fx-background-color: button-background;
    -fx-padding: 8;
    -fx-border-insets: 5;
    -fx-background-insets: 5;
}

.button, .toggle-button, .slider .thumb {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.ai-or-human:focused, .ai-or-human:selected:focused {
    /* from modena.css */
    -fx-background-insets: 0 0 -1 0, 0, 1;
}

.ai-or-human:selected:focused {
    /* from modena.css */
    -fx-background-color:
        -fx-shadow-highlight-color,
        linear-gradient(to bottom, derive(-fx-outer-border, -20%), -fx-outer-border),
        linear-gradient(to bottom, 
            derive(-fx-color, -22%) 0%,
            derive(-fx-color, -13%) 20%,
            derive(-fx-color, -11%) 50%);
}

.slider:focused .thumb {
    /* from modena.css */
    -fx-background-color:
        linear-gradient(to bottom, derive(-fx-text-box-border, -20%), derive(-fx-text-box-border, -30%)),
        -fx-inner-border,
        -fx-body-color;
    -fx-effect: dropshadow(two-pass-box, rgba(0, 0, 0, 0.1), 5, 0.0 , 0, 2);
}

#create-game {
    -fx-background-color: #725D1D;
}

.screen-title {
    -fx-font-size: 2em;
    -fx-text-alignment: center;
}

.player-settings {
    -fx-alignment: center;
    -fx-padding: 10;
}

.player-name {
    /* margin workaround */
    -fx-padding: 0 0 5 0;
    -fx-border-insets: 0 0 5 0;
    -fx-background-insets: 0 0 5 0;
}

.ai-difficulty-label {
    /* margin workaround here too */
    -fx-padding: 5 0 0 0;
    -fx-border-insets: 5 0 0 0;
    -fx-background-insets: 5 0 0 0;
}

#board {
    -fx-alignment: center;
}

.square {
    -fx-padding: 5;
}

.square .overlay {
    -fx-background-insets: -5;
}

/* FIXME piece chooser is probably broken, it's completely untested */
.piece-chooser {
    -fx-orientation: vertical;
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-pref-rows: 7;
    -fx-background-color: button-background;
}

.piece-chooser .placing-piece-button {
    -fx-background-color: transparent;
}

.piece-chooser .placing-piece-button:selected {
    -fx-border-color: black;
    -fx-border-radius: 2; /* rounded corners... maybe */
    -fx-border-width: 2;
}

#decision {
    -fx-alignment: center;
    -fx-hgap: 20;
    -fx-vgap: 20;
    visibility: hidden;
    -fx-padding: 20;
}

#decision .option {
    -fx-background-color: hsba(0, 90%, 100%, .8);
    -fx-padding: 10;
    -fx-alignment: center;
    -fx-spacing: 5;
}

#decision .option .text {
    -fx-font-weight: 600;
}

#win {
    visibility: hidden;
    -fx-alignment: center;
}